In [100]:
%matplotlib inline

In [101]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [102]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load 
mouse_drug_data = "Data/mouse_drug_data.csv"
clinical_trial_data = "Data/clinicaltrial_data.csv"

In [103]:
# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_data = pd.read_csv(mouse_drug_data)
clinical_data = pd.read_csv(clinical_trial_data) 
mouse_data

    Mouse ID      Drug
0       f234  Stelasyn
1       x402  Stelasyn
2       a492  Stelasyn
3       w540  Stelasyn
4       v764  Stelasyn
5       o848  Stelasyn
6       z314  Stelasyn
7       g989  Stelasyn
8       m269  Stelasyn
9       a963  Stelasyn
10      t451  Stelasyn
11      p981  Stelasyn
12      k510  Stelasyn
13      h333  Stelasyn
14      c402  Stelasyn
15      j984  Stelasyn
16      w697  Stelasyn
17      s619  Stelasyn
18      g867  Stelasyn
19      k862  Stelasyn
20      i901  Stelasyn
21      b879  Stelasyn
22      p387  Stelasyn
23      a366  Stelasyn
24      s565  Stelasyn
25      j755  Naftisol
26      e213  Naftisol
27      e584  Naftisol
28      e291  Naftisol
29      z795  Naftisol
..       ...       ...
220     a444  Ramicane
221     a411  Ramicane
222     j913  Ramicane
223     q610  Ramicane
224     c458  Ramicane
225     a897   Placebo
226     c757   Placebo
227     i477   Placebo
228     o302   Placebo
229     t718   Placebo
230     w167   Placebo
231     x773   Placebo
232     s166   Placebo
233     q582   Placebo
234     y478   Placebo
235     o795   Placebo
236     l872   Placebo
237     t994   Placebo
238     v409   Placebo
239     v989   Placebo
240     c282   Placebo
241     e227   Placebo
242     c766   Placebo
243     s152   Placebo
244     n763   Placebo
245     i669   Placebo
246     r850   Placebo
247     a262   Placebo
248     q787   Placebo
249     j235   Placebo

[250 rows x 2 columns]

In [104]:
# Combine the data into a single dataset
combined_data_df = pd.merge(clinical_data, mouse_data, how='outer', on='Mouse ID')

# Reduce data to look at effects of Capomulin, Infubinol, Ketapril, and Placebo
drugs = ['Capomulin', 'Infubinol', 'Ketapril', 'Placebo']
reduced_data_df = combined_data_df.loc[combined_data_df['Drug'].isin(drugs)]
reduced_data_df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0        b128          0           45.000000                 0  Capomulin
1        b128          5           45.651331                 0  Capomulin
2        b128         10           43.270852                 0  Capomulin
3        b128         15           43.784893                 0  Capomulin
4        b128         20           42.731552                 0  Capomulin
5        b128         25           43.262145                 1  Capomulin
6        b128         30           40.605335                 1  Capomulin
7        b128         35           37.967644                 1  Capomulin
8        b128         40           38.379726                 2  Capomulin
9        b128         45           38.982878                 2  Capomulin
10       f932          0           45.000000                 0   Ketapril
11       g107          0           45.000000                 0   Ketapril
12       g107          5           48.791665                 0   Ketapril
13       g107         10           53.435987                 0   Ketapril
14       g107         15           58.135545                 0   Ketapril
15       g107         20           62.706031                 0   Ketapril
16       g107         25           64.663626                 0   Ketapril
17       g107         30           69.160520                 0   Ketapril
18       g107         35           71.905117                 0   Ketapril
19       a457          0           45.000000                 0   Ketapril
20       a457          5           47.462891                 0   Ketapril
21       a457         10           49.783419                 0   Ketapril
22       c819          0           45.000000                 0   Ketapril
23       c819          5           45.769249                 1   Ketapril
24       c819         10           46.658395                 1   Ketapril
25       c819         15           48.370999                 1   Ketapril
26       c819         20           49.762415                 1   Ketapril
27       c819         25           51.828357                 1   Ketapril
28       c819         30           56.098998                 1   Ketapril
29       c819         35           57.729535                 1   Ketapril
...       ...        ...                 ...               ...        ...
1876     i557         25           44.596219                 0  Capomulin
1877     i557         30           45.261384                 0  Capomulin
1878     i557         35           45.941949                 0  Capomulin
1879     i557         40           46.821070                 1  Capomulin
1880     i557         45           47.685963                 1  Capomulin
1881     m957          0           45.000000                 0  Capomulin
1882     m957          5           45.622381                 1  Capomulin
1883     m957         10           46.414518                 1  Capomulin
1884     m957         15           39.804453                 1  Capomulin
1885     m957         20           38.909349                 1  Capomulin
1886     m957         25           37.695432                 1  Capomulin
1887     m957         30           38.212479                 1  Capomulin
1888     m957         35           32.562839                 1  Capomulin
1889     m957         40           32.947615                 1  Capomulin
1890     m957         45           33.329098                 1  Capomulin
1891     f966          0           45.000000                 0  Capomulin
1892     f966          5           38.796474                 0  Capomulin
1893     f966         10           35.624403                 0  Capomulin
1894     f966         15           32.623003                 0  Capomulin
1895     f966         20           30.485985                 0  Capomulin
1896     m601          0           45.000000                 0  Capomulin
1897     m601          5           41.408591                 1  Capomulin
1898     m601         10           36.825367                 1  Capomulin
1899     m601         15           35.464612                 1  Capomulin
1900     m601         20           34.255732                 1  Capomulin
1901     m601         25           33.118756                 1  Capomulin
1902     m601         30           31.758275                 1  Capomulin
1903     m601         35           30.834357                 1  Capomulin
1904     m601         40           31.378045                 1  Capomulin
1905     m601         45           28.430964                 1  Capomulin

[777 rows x 5 columns]

In [95]:
# Group by Drug and Timepoint columns and 
#Calculate the mean for each Tumor Volume Data in group
tumor_mean = reduced_data_df.groupby(['Drug', 'Timepoint']).mean()['Tumor Volume (mm3)']

# Convert to DataFrame
tumor_mean_df = pd.DataFrame(tumor_mean)

# Preview DataFrame
tumor_mean_df

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
          25                  39.939528
          30                  38.769339
          35                  37.816839
          40                  36.958001
          45                  36.236114
Infubinol 0                   45.000000
          5                   47.062001
          10                  49.403909
          15                  51.296397
          20                  53.197691
          25                  55.715252
          30                  58.299397
          35                  60.742461
          40                  63.162824
          45                  65.755562
Ketapril  0                   45.000000
          5                   47.389175
          10                  49.582269
          15                  52.399974
          20                  54.920935
          25                  57.678982
          30                  60.994507
          35                  63.371686
          40                  66.068580
          45                  70.662958
Placebo   0                   45.000000
          5                   47.125589
          10                  49.423329
          15                  51.359742
          20                  54.364417
          25                  57.482574
          30                  59.809063
          35                  62.420615
          40                  65.052675
          45                  68.084082

In [105]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
tumor_error = reduced_data_df.groupby(['Drug', 'Timepoint']).sem()['Tumor Volume (mm3)']
# Convert to DataFrame
tumor_error_df = pd.DataFrame(tumor_error)
# Preview DataFrame
tumor_error_df

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731
          25                   0.881642
          30                   0.934460
          35                   1.052241
          40                   1.223608
          45                   1.223977
Infubinol 0                    0.000000
          5                    0.235102
          10                   0.282346
          15                   0.357705
          20                   0.476210
          25                   0.550315
          30                   0.631061
          35                   0.984155
          40                   1.055220
          45                   1.144427
Ketapril  0                    0.000000
          5                    0.264819
          10                   0.357421
          15                   0.580268
          20                   0.726484
          25                   0.755413
          30                   0.934121
          35                   1.127867
          40                   1.158449
          45                   1.453186
Placebo   0                    0.000000
          5                    0.218091
          10                   0.402064
          15                   0.614461
          20                   0.839609
          25                   1.034872
          30                   1.218231
          35                   1.287481
          40                   1.370634
          45                   1.351726

In [108]:
# Re-Format the Data Frames, index by timepoint, columns by drug name and tumor mean and error values by df
mean_reformat = tumor_mean_df.reset_index()
mean_pivot = mean_reformat.pivot(index='Timepoint', columns='Drug')['Tumor Volume (mm3)']

error_reformat = tumor_error_df.reset_index()
error_pivot = error_reformat.pivot(index='Timepoint', columns='Drug')['Tumor Volume (mm3)']


# Preview data sets
mean_pivot.head()

Drug       Capomulin  Infubinol   Ketapril    Placebo
Timepoint
0          45.000000  45.000000  45.000000  45.000000
5          44.266086  47.062001  47.389175  47.125589
10         43.084291  49.403909  49.582269  49.423329
15         42.064317  51.296397  52.399974  51.359742
20         40.716325  53.197691  54.920935  54.364417